/* ============================================ nav ============================================ */
.navbar {
    z-index: 1;
    background-color: #1a1a1a;
}
.side-nav {
    height: 100%;  
    width: 0;
    position: fixed;
    top: 0;             
    left: 0;
    background-color: rgb(17, 17, 17); 
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 3px black solid;
    white-space: nowrap;
}
/* nav logo */
.side-nav img {
    padding-bottom: 16px;
}
/* nav links */
.side-nav a {
    font-family: 'Quantico', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* nav link hover */
.side-nav a:hover {
    color: rgb(223, 184, 12);
}
#close-btn {
    display: none;
}
#nav-btn {
    padding: 6px;
    border: none;
    background-color: rgba(1, 1, 1, 0);
    text-decoration: none;
}
#nav-btn:hover {
    background-color: rgba(1, 1, 1, 0);
}
.nav-icon {
    font-size: 4em;
    color:rgb(223, 184, 12);
}
.active {
    color:rgb(223, 184, 12) !important;
}



/* ============================================ mobile view ============================================ */
@media screen and (max-width: 800px) {
    #close-btn {
        display: block;
    }
    .side-nav a {
        text-align: center;
    }
    .side-nav img {
        width: 100vw;
    }
}

