.user-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* container */
.user-review-cards-container {
    width: 100%;
}

/* title */
.user-reviews-title {
    font-size: 2em;
    font-weight: bold;
}

.user-review-card-link {
    text-decoration: none;
    color: black;
}