<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WebServiceLibrarySystemSoap">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://localhost:44341/WebServiceLibrarySystem.asmx"
					  binding="basicHttpBinding" bindingConfiguration="WebServiceLibrarySystemSoap"
					  contract="ServiceReferenceLibrarySystem.WebServiceLibrarySystemSoap"
					  name="WebServiceLibrarySystemSoap" />
		</client>
	</system.serviceModel>
</configuration>