/* ============================================ color | animation ============================================ */

/* -------------- gradient background -------------- */
@keyframes AnimateGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* -------------- body background -------------- */
#main {
    min-height: 100vh;
    z-index: 0;
    transition: margin-left .5s;
    padding: 20px;
    background-size: 300% 300%;
    background-image: linear-gradient(
        -45deg, 
        rgb(27, 32, 102) 0%, 
        rgb(76, 56, 151) 25%, 
        rgb(129, 52, 136) 50%, 
        rgb(124, 27, 62) 100%
    );  
    animation: AnimateGradient 10s ease infinite;
}

/* -------------- Arcade title text -------------- */
.arcade-div {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
}

.arcade-text {
  z-index: 1;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #73c0c2,
    4px 0 0 #4405fc;
}




/* ============================================ fonts ============================================ */
/* -------------- Quantico title text -------------- */
.title1 {
    font-family: 'Quantico', sans-serif;
}


/* -------------- Share Tech Mono paragraph text -------------- */
.paragraph-text {
    font-family: 'Share Tech Mono', monospace;
}




/* ============================================ titles ============================================ */
h1 {
    font-family: 'Quantico', sans-serif;
    margin: 0;
    /* text-align: end; */
}
#contact-heading {
    margin-top: 25px;
}
.testing-title {
    font-family: 'Quantico', sans-serif;
}
.references-title {
    margin-top: 30px;
}





/* ============================================ lists ============================================ */
h2 {
    font-family: 'Quantico', sans-serif;
}
.strike-thourgh {
    text-decoration: line-through;
}
.list li {
    font-family: 'Share Tech Mono', monospace;
}




/* ============================================ paragraph ============================================ */
p {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
}
pre {
    white-space: pre-line;
    font-family: 'Share Tech Mono', monospace;
}

.p-text {
    font-family: 'Share Tech Mono', monospace;
}

.i-added-a-class > p {
    color: red;
}
.testing-text {
    font-family: 'Share Tech Mono', monospace;
}






/* ============================================ containers ============================================ */
.about {
    margin: 40px;
}
.about-text {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}
#about-title1 {
    z-index: 1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
}
#about-title2 {
    z-index: 1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
}
#about-text1 {
    z-index: 1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
#about-text2 {
    z-index: 1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.references {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.contact {
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}
.z-in {
    z-index: 1;
}

.to-add {
    margin: 40px;
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.testing-div {
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}



/* ============================================ icons ============================================ */
i {
    transition: 0.3s;
    cursor: pointer;
} 
i:hover {
    transform: scale(1.1);
} 



/* ============================================ buttons ============================================ */
.testing-btn {
    font-family: 'Quantico', sans-serif;
    color: white;
    background-color: black;
    padding: 2px;
    transition: 0.3s;
    border-radius: 5px;
}
.testing-btn:hover {
    color: rgb(223, 184, 12);
}
.loading-page-link {
    margin-top: 20px;
    font-family: 'Quantico', sans-serif;
}
.start-game-btn {
    z-index: 1;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 5px 0px 5px;
    text-align: center;
    /* vertical-align: middle; */
    letter-spacing: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #73c0c2,
    4px 0 0 #4405fc;
}
.button {
    background-color: black;
    border-radius: 5px;
    border: 0;
    padding: 8px 5px 8px;
}
.button a {
    font-family: 'Quantico', sans-serif;
    text-decoration: none;
    font-size: 40;
    transition: 0.3s;
    color: white;
}
.button-text:hover {
    color: rgb(223, 184, 12);
}
.done-btn {
    font-family: 'Quantico', sans-serif;
    color: white;
    background-color: black;
    padding: 2px;
    transition: 0.3s;
    border-radius: 5px;
}
.done-btn:hover {
    color: rgb(223, 184, 12);
}
.swap-btn {
    background-color: transparent;
    border: none;
    color: black;
}
.swap-btn:hover {
    color: rgb(223, 184, 12);
}



/* ============================================ mobile view ============================================ */
@media screen and (max-width: 620px) {
    /*---------- buttons ----------*/
    .button {
        padding: 3px 5px 3px;
    }
    .button a {
        font-size: 20;
    }


    /*---------- containers ----------*/
    .about-text {
        display: flex;
        flex-direction: column;
    }

    /*---------- titles ----------*/
    h1 {
        font-size: 1.5rem;
    }
    #about-title1 {
        margin-bottom: 0;
    }
    #about-title2 {
        margin-bottom: 0;
        margin-top: 20px;
    }

}
