* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2a4858, #1c6373, #007f86, #009c8f, #3fb78d, #77d183, #b5e877, #fafa6e)
}