/* ============================================ nav ============================================ */
.side-nav {
    height: 100%;  
    width: 0;
    position: fixed;    
    z-index: 1;      
    top: 0;             
    left: 0;
    background-color: rgb(17, 17, 17); 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* nav links */
.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*nav link hover */
.side-nav a:hover {
    color: rgb(223, 184, 12);
}

.close-btn:hover {
    color: red;
}

/* close nav button (top right corner) */
.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* if (width < 680px) { sidenav is 100%, nav links style change} */
/* (not currently working, unless max-width is 1000px for some reason?) */
@media screen and (max-width: 680px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

